div{
	border: 1px solid green;
	width: 60%;
	padding: 60px;
	margin: auto;
	text-align: center;
}
img{
	display: block;
	margin: auto;
	width: 60%;
}
.img1{
	opacity: 0.5;
	transition: 1s;
}
.img2{
	margin: auto;
	display: block;
	opacity: 0.5; bu kod rasm yoki belgini birlashtiradi
	transition: 1s;
}